@mixin breakpoint($point) {
	@if $point == sm {
		@media only screen and (min-width: 576px) {
			@content;
		}
	} @else if $point == md {
		@media only screen and (min-width: 768px) {
			@content;
		}
	} @else if $point == lg {
		@media only screen and (min-width: 992px) {
			@content;
		}
	} @else if $point == xl {
		@media only screen and (min-width: 1200px) {
			@content;
		}
	} @else if $point == xxl {
		@media only screen and (min-width: 1400px) {
			@content;
		}
	}
}

@mixin pseudo($width, $height, $bg: #000000, $stroke: 0) {
	content: '';
	display: block;
	height: $height;
	position: absolute;
	width: $width;

	@if $stroke == 0 {
		background: $bg;
	} @else {
		border: $stroke solid $bg;
	}
}

@mixin rectangle(
	$bg,
	$radius-x: left,
	$radius-y: top,
	$width: 178px,
	$height: 178px
) {
	@include pseudo($width, $height, $bg);
	z-index: -1;

	@if $radius-x == left {
		@if $radius-y == top {
			border-radius: 100px 0 0 0;
		} @else if $radius-y == bottom {
			border-radius: 0 0 0 100px;
		}
	} @else if $radius-x == right {
		@if $radius-y == top {
			border-radius: 0 100px 0 0;
		} @else if $radius-y == bottom {
			border-radius: 0 0 100px 0;
		}
	}
}

@mixin ellipse($bg, $width: 129px, $height: 129px, $stroke: 0) {
	@if $stroke == 0 {
		@include pseudo($width, $height, $bg);
	} @else {
		@include pseudo($width, $height, $bg, $stroke);
	}

	border-radius: 50%;
	z-index: -1;
}

@mixin dots($color: grey) {
	content: '';
	display: block;
	height: 154px;
	position: absolute;
	width: 196px;
	z-index: -1;

	@if $color == blue {
		background: url('../img/Dots_blue.svg');
	} @else {
		background: url('../img/Dots.svg');
	}
}
