.btn {
	background: $primary;
	border-radius: 60px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.065rem;
	line-height: 25px;
	padding: 20px 40px;

	&-sm {
		font-size: 16px;
		padding: 0 37px;
	}

	&:hover {
		background: lighten($primary, 5%);
	}
}

h1 {
	font-size: 40px;
	font-weight: 800;
	letter-spacing: -0.08rem;
}

h2 {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: -0.025rem;
	line-height: 1.34;
}

h3 {
	font-size: 20px;
	font-weight: 700;
}

p {
	color: $body;
	line-height: 1.6;
	margin: 0;
}

/* ====== Design shapes ====== */

.hero {
	&__headline {
		position: relative;

		&:before {
			@include dots();
			bottom: -122px;
			left: -50px;
		}

		&:after {
			@include dots();
			bottom: -122px;
			left: 159px;
		}
	}

	&__hero-img {
		position: relative;

		&:before {
			@include ellipse($primary-light);
			left: calc(-129px / 2);
		}

		&:after {
			@include rectangle($warning-light, right, bottom);
			bottom: -96px;
			right: 120px;
		}
	}
}


.benefits {
	position: relative;

	&:before {
		@include rectangle($primary-light, left, top, 1047px, 619px);
		right: 0;
		top: 200px;
		z-index: -2;
	}

	&__heading {
		position: relative;

		&:before {
			@include dots(blue);
			bottom: -270px;
			left: 5px;
			z-index: -3;
		}

		&:after {
			@include dots(blue);
			bottom: -270px;
			left: 214px;
			z-index: -3;
		}

		@include breakpoint(xl) {
			h1:before {
				@include rectangle($warning-light, left, top);
				left: -36px;
				top: -18px;
			}
		}
	}

	&__cards {
		position: relative;

		&:before {
			@include ellipse($danger, 120px, 120px, 9px);
			bottom: 68px;
			right: -20px;
			z-index: -3;
		}
	}
}

.goals {
	&__heading {
		position: relative;

		&:before {
			@include rectangle($primary-light, right, bottom);
			left: -36px;
			top: -18px;
		}
	}

	.video {
		&:before {
			@include ellipse($warning-light);
			bottom: -64px;
			right: -44px;
		}
	}
}

.newsletter {
	.container:before {
		@include rectangle($warning-light, left, bottom);
		bottom: -42px;
		left: -36px;
	}

	.container:after {
		@include dots(blue);
		right: -34px;
		top: -56px;
	}

	&__wrapper {
		position: relative;

		@include breakpoint(xl) {
			&:before {
				background: $primary;
				border-radius: 75px;
				content: '';
				display: block;
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				width: 496px;
			}
		}
	}
}

.feedback {
	&__client-photo {
		position: relative;

		&:before {
			@include ellipse($danger, 120px, 120px, 9px);
			bottom: 9px;
			left: -14px;
			z-index: -3;
		}
	}

	&__clients {
		&:before {
			@include ellipse($warning-light, 184px, 184px);
			left: 20px;
			top: 110px;
		}
	}
}
